.container-nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* position: relative; */
    height: 5rem;
    /* background-color: gray; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container-nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3rem;
}
.container-nav ul li {
    margin: 0 1rem;
    list-style: none;
}
.container-nav img {
    border-radius: 50%;
    /* position: absolute; */
    z-index: 2;
}

#img-profile {
    background: white;
    z-index: 1;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
}